.caja2 {
  max-width: 100% !important;
  height: 100px !important;
 }

 @font-face{
   font-family:Fuente-loca;
   src: url('../../assets/fonts/EuphoriaScript-Regular.ttf');
}

@font-face{
  font-family:Fuente-linda;
  src: url('../../assets/fonts/Spectral/Spectral-ExtraLightItalic.ttf') ;
}



  #titulo{
   font-family:Fuente-loca ;
 }

h2,p{
font-family: Fuente-linda;
}


#boton1{
  background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#boton2{
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p{
  font-size: 20px;
}










