<form class="caja2">
  <div class="container-fluid text-center" style="background-color:;">
    <div class="row " >
      <div class="col-xl-3 pt-5 pb-5 pl-5 pr-5 text-center ml-auto mr-auto mb-5 border rounded-lg"
      style="background-color: rgba(0,0,0,0.5); margin-top: 150px;">
        <h3 class="text-white">Todos los campos son requeridos</h3>
        <label class="text-white" for="">Usuario </label>
        <input type="text" class="form-control"><br>
        <label class="text-white" for=""> Pasword</label>
        <input type="password" class="form-control"><br>
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label text-white" for="exampleCheck1">Recordarme</label>
        <br>
        <br>
        <button class="btn btn-primary form-control" routerLink= "/principal" id="boton1"> Entrar</button>
      </div>

    </div>

  </div>  
</form>
