<div id="caja2" class="container-fluid" >
  <nav aria-label="breadcrumb " class=" ml-0" style="width: 250px;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#" routerLink= "/login">Login</a></li>
      <li class="breadcrumb-item active" aria-current="page">Principal</li>
    </ol>
  </nav>
  <div class="container">
    <div class="row" >
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-5">
        <h1 class="text-center text-white animated bounceInDown" style="font-size: 50px;">Bienvenid<img class="mt-0"  style="width: 50px; margin-top: 0px;" src="../../assets/img/dom.png" alt=""> Marco!</h1>
        <div class="animated bounceInDown" id="editor2" [froalaEditor]="dataFroala"></div>
        <br>
      </div>
      <br>
      <h1 class="col-xl-12 text-white" style="margin-left: 100px;" >Panel principal</h1>

    <button type="button" class=" ml-0 mr-0 pl-0 pr-0 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 btn btn-lg btn-primary" data-toggle="modal" data-target="#modalPush" >Notificaciones <span class="badge badge-danger">1</span></button>
      <button type="button" class=" ml-0 mr-0 pl-0 pr-0 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 btn btn-lg btn-info " data-toggle="modal" data-target="#modalLoginAvatar" > <img class="w-25" src="../../assets/img/info.png" alt="">Mi informacion </button>
      <button type="button" class=" ml-0 mr-0 pl-0 pr-0 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 btn btn-lg peach-gradient" routerLink = "/blog" >  <img class="" src="../../assets/img/ui.png"  alt="" style="width: 50px;"> Ver mi blog</button>
      <button type="button" class=" ml-0 mr-0 pl-0 pr-0 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 btn btn-lg btn-success" onclick="guardarBlog()"> <img class="" src="../../assets/img/salvar.png" alt="" style="width: 50px;"> Guardar</button>
      <button type="button" class=" ml-0 mr-0 pl-0 pr-0 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 btn btn-lg btn-danger"  onclick="errorBlog()"> <img class="" src="../../assets/img/basura.png" alt="" style="width: 50px;"> Borrar mi blog</button>
      <button type="button" class=" ml-0 mr-0 pl-0 pr-0 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 btn btn-lg btn-warning " data-toggle="modal" data-target="#modalSocial" > <img class="" src="../../assets/img/compartir.png" alt="" style="width: 50px;"> Compartir</button>
      <button type="button" class=" ml-0 mr-0 pl-0 pr-0 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 btn btn-lg purple-gradient" routerLink= "/"> <img class="" src="../../assets/img/error.png" alt="" style="width: 50px;" >  Cerrar sesion</button>
      <button type="button" class=" ml-0 mr-0 pl-0 pr-0 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 btn btn-lg btn-white" data-toggle="modal" data-target="#basicExampleModal"  > <img class="" src="../../assets/img/github.png" alt="" style="width: 50px;" > Descargar</button>
    </div>






  </div>
</div>





<!--Modal: modalSocial-->
<div class="modal fade" id="modalSocial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fas fa-users"></i> Compartelo con tus amigos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <!--Body-->
      <div class="modal-body mb-0 text-center">


        <!--Facebook-->
        <a type="button" class="btn btn-sm"><img class="w-25 rounded-circle img-responsive " src="../../assets/img/facebook.png"></a>
        <!--Twitter-->
        <a type="button" class="btn"><img class="w-25" src="../../assets/img/instagram.png"></a>
        <!--Google +-->
        <a type="button" class="btn"><img class="w-25" src="../../assets/img/twitter.png"></a>
        <a type="button" class="btn"><img class="w-25" src="../../assets/img/whatsapp.png"></a>
        <a type="button" class="btn text-dark">Copiar link <br><img class="w-25 text-dark" src="../../assets/img/enlazar.png"></a>


      </div>

    </div>
    <!--/.Content-->

  </div>
</div>
<!--Modal: modalSocial-->



<!--
   ___              ___  ___          _       _     _                 _                  _ _   _        ___             _              ______                             __
  / / |             |  \/  |         | |     | |_  | |               (_)                (_) | | |      / _ \           | |             |  ___|                            \ \
 / /| |______ ______| .  . | ___   __| | __ _| (_) | |     ___   __ _ _ _ __   __      ___| |_| |__   / /_\ \_   ____ _| |_ __ _ _ __  | |_ ___  _ __ _ __ ___ ______ _____\ \
< < | |______|______| |\/| |/ _ \ / _` |/ _` | |   | |    / _ \ / _` | | '_ \  \ \ /\ / / | __| '_ \  |  _  \ \ / / _` | __/ _` | '__| |  _/ _ \| '__| '_ ` _ \______|______> >
 \ \|_|             | |  | | (_) | (_| | (_| | |_  | |___| (_) | (_| | | | | |  \ V  V /| | |_| | | | | | | |\ V / (_| | || (_| | |    | || (_) | |  | | | | | |           / /
  \_(_)             \_|  |_/\___/ \__,_|\__,_|_(_) \_____/\___/ \__, |_|_| |_|   \_/\_/ |_|\__|_| |_| \_| |_/ \_/ \__,_|\__\__,_|_|    \_| \___/|_|  |_| |_| |_|          /_/
                                                                 __/ |
                                                                |___/
-->
<div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-md" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header">
        <img src="../../assets/img/hombre.png" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body  mb-1">

        <h1 id="nombre-info" class="mt-1 mb-2 text-center ">Marco</h1>
        <br>
        <h6 class="">Tus correo es: marcomedina@gmail.com</h6>
        <br>
        <h6 class="">Las entradas de tu blog son 0</h6>
        <br>
        <h6 class="">Las visitas a tu blog son 0</h6>
        <br>
        <h6 class="">Los comentarios en tu blog son 0</h6>

        <div class="text-center mt-4">
          <button class="btn btn-cyan mt-1" data-dismiss="modal" >Cerrar <i class="fas fa-sign-in ml-1"></i></button>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>



<!--Modal: modalPush-->
<div class="modal fade" id="modalPush" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Notificaciones</p>
      </div>

      <!--Body-->
      <div class="modal-body">

        <i class="fas fa-bell fa-4x animated rotateIn mb-4"></i>

        <p>Bienvenido a <label id="sunshine" for="">Sunshine</label> <br>Esperamos que te sientas agusto con nuestro servicio asi como para nosotros es un placer tenerte aqui.</p>

      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">Cerrar</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalPush-->




<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Link de github</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Link de descarga</h1>
        <a href="https://github.com/marco2289/sunshine" target="_blank" >https://github.com/marco2289/sunshine</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>
