<div id="caja2" class="">
  <nav aria-label="breadcrumb " class=" ml-0" style="">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Login</a></li>
      <li class="breadcrumb-item"><a href="#" routerLink = "/principal" >Principal</a></li>
      <li class="breadcrumb-item active" aria-current="page">Blog</li>
    </ol>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-5">



        <h1 class="text-center text-white animated bounceInDown" style="font-size: 50px;">Bl<img class="mt-0"
            style="width: 50px; margin-top: 0px;" src="../../assets/img/dom.png" alt="">g de Marco!</h1>



        <div class="row row-cols-1 row-cols-md-2">
          <div class="col mb-4">
            <div class="card h-100">
              <!--Card image-->
              <div class="view overlay">
                <img class="card-img-top" src="../../assets/img/gra.jpeg"
                  alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Un loco 2020 xD</h4>
                <!--Text-->
                <p class="card-text">Las vacaciones forzosas mas locas de mi vida, terremotos, abejas asesinas, anonymus, una pandemia que esta matando a todo mundo y el proyecto de sistemas expertos :(, jaja bueno no todo es malo, Ing. Erick mirese este anime se lo recomiendo
                  <br>
                  <br>
                  Torre de dios</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


              </div>

            </div>
          </div>
          <div class="embed-responsive embed-responsive-4by3 col-xl-6 h-50">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/iITRobxEqvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
